<!doctype html>
<title>Hello from Flask</title>

<body>
    <div id="upload">
        <input type="file" name="gif" id="gif">
        <input type="button" value="提交" onclick="submit()">
    </div>
    <img id="output">
    <script>
        function submit(evt) {
            var form = new FormData();
            var file = document.getElementById("gif");
            form.append('gif', file.files[0], file.files[0].name);
            console.log(form);
            var req = new XMLHttpRequest();
            req.open("post", "upload", true);
            req.send(form);
            req.onreadystatechange = function () {
                if (req.readyStat == 4 && req.status == 200) {
                    if (!(req.responseText.startsWith("Error"))) {
                        document.getElementById("output").setAttribute("src", "downloads/" + req.responseText)
                    }
                }
            }
        }
    </script>
</body>